  <% if @message = "Invalid email/password combination" %>
  			<!DOCTYPE html>

				<% require 'cgi' %>
				</html>
					<head>
					  <title>خطا در وارد کردن اطلاعات</title>
					  <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-6">
					  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
					  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
					  <%= csrf_meta_tags %>
					</head>
					<body>
					<div id="body">
					  <%= render 'layouts/header' %>
					    <div id="section" >
							<div class="row">
	  					<div class="col-md-20 col-md-offset-5" >
						  	
						  	<%= form_for(@user) do |f| %>
						    
						    <%= f.label :'نام نشریه شما' %>
						    <%=  f.text_field :name, class: 'form-control' %>
						    
						    <%= f.label :'رایانامه شما' %>
						    <%= f.email_field :email, class: 'form-control' %>
						    
						    <%= f.label :Password, 'کلمه عبور' %>
						    <%=  f.password_field :password, class: 'form-control' %>
						    
						    <%= f.label :password_confirmation, 'تکرار کلمه عبور' %>
						    <%= f.password_field :password_confirmation, class: 'form-control' %>
						    <%= f.submit "حساب کاربری نشریه من را بساز", class: "btn btn-primary" %>
						    
						    <% end %>

						  </div></div></div>

					    <div id="footer" >
							این سایت محصول نهایی کلاس محاسبات ابری دانشکده علوم و فنون نوین دانشگاه تهران می باشد و هرگونه استفاده از آن با صلواتی بر محمد(ص) و آل محمد(ع) مجاز است.
					  	</div>
					  	</page>
						</body>
					</html>
	<% else %>

	<% provide(:title, 'عضویت یک نشریه در ابرنوشت') %>
	
	<%= form_for(@user) do |f| %>
    
    <%= f.label :'نام نشریه شما' %>
    <%=  f.text_field :name, class: 'form-control' %>
    
    <%= f.label :'رایانامه شما' %>
    <%= f.email_field :email, class: 'form-control' %>
    
    <%= f.label :Password , "کلمه عبور"%>
    <%=  f.password_field :password, class: 'form-control' %>
    
    <%= f.label :password_confirmation, "تکرار کلمه عبور" %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>

    <%= f.submit "حساب کاربری نشریه من را بساز", class: "btn btn-primary" %>
  <% end %>

 <% end %>
