<% provide(:title, "ورود") %>
<h1>ورود به سامانه ابرنوشت</h1>
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :"رایانامه" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password,"کلمه عبور" %>
      <%= link_to "(forgot password)", new_password_reset_path %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit "ورود به سامانه ابر نوشت", class: "btn btn-primary" %>
    <% end %>

    <p>آیا نشریه شما در ابرنوشت ثبت نام نشده است؟ <%= link_to "هم اکنون ثبت نام کنید!", signup_path %></p>
