<% provide(:title, "کلمه عبورم را فراموش کرده‌ام! ") %>
<h1>کلمه عبورم را فراموش کرده‌ام!</h1>
<%= render :layout "layouts/welcom_layout" %>

    <%= form_for(:password_reset, url: password_resets_path) do |f| %>
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.submit "Submit", class: "btn btn-primary" %>
      <% end %>