<!DOCTYPE html>
<html>
<head>
  <title>پانل مدریت نشریات</title>
  <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-6">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="body">
<%= render 'layouts/header' %>
<div id="nav" >
<p>
<%= link_to "ایجاد نشریه جدید", {:controller => :mags, :action => :create}, :method => :post %>
<p> نشریات من
<p>
  <% if @mags %>
    <%= will_paginate @mags , :page_links => false %>
    <ul>
	<% @mags.each do |mag| %>
	<%= render mag %>
	<% end %>
	</ul>
	<%= will_paginate @mags%>
  <%else %>
    خالی
  <% end %>

</div>

<div id="section">
<%= yield(:centertext) %>
</div>

<div id="footer">
این سایت محصول نهایی کلاس محاسبات ابری دانشکده علوم و فنون نوین دانشگاه تهران می باشد و هرگونه استفاده از آن با صلواتی بر محمد(ص) و آل محمد(ع) مجاز است.
</div>
</div>
</body>
</html>
