<<<<<<< HEAD
<%= render layout: "guid_layout" %>
=======
<!DOCTYPE html>

</html>
<head>
  <title>راهنما</title>
  <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=UTF-8">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="body">
<div id="section2" >

یکی از مهم ترین دغدغه های دانشجویی انتشار نشریاتی است که اغلب انتشار آنها به دلیل دشواری های صفحه آرایی استمرار نمی یابد یا نظمی را دنبال نمی کند. سامانه ابرنوشت با هدف کمک به مجموعه های دانشجویی برای صفحه آرایی خودکار نشریات توسعه داده شده است . عضویت آسان و گروهی اولین ویژگی ابر نوشت است. کافی است که نشریه خود را در سامانه ابرنوشت ثبت نام کنید. سیستم از شما ایمیل هیات تحریریه نشریه را دریافت می کند. کار تمام است کافی است به ایمیل خود سری بزنید و لینک عضویت را تایید کنید.


 حالا هریک از شما و اعضای هیات تحریریه که توسط شما معرفی شده باشند می توانند یا یک کلمه عبور به راحتی وارد سامانه شده و نشریات را صفحه آرایی کنند

علاوه بر این ابرنوشت با استفاده از تکنولوژی کیوآر این امکان را به مخاطبان شما می دهد تا علاوه بر دسترسی به نسخه الکترونیکی نشریه نظرات خود را بی واسطه با شما به سرعت در میان بگذارند.

برای شروع کافی است از اینجا  

        <%= link_to "ورود به ابرنوشت", {:controller => "users", :action => "new"}%>       
 وارد سیستم شوید
  </div>
<div id="footer" >
این سایت محصول نهایی کلاس محاسبات ابری دانشکده علوم و فنون نوین دانشگاه تهران می باشد و هرگونه استفاده از آن با صلواتی بر محمد(ص) و آل محمد(ع) مجاز است.
</div>
</div>


</body>
</html>
>>>>>>> refs/remotes/origin/master
