<!DOCTYPE html>
</html>
<head>
  <title><%= yield(:title) %></title>
  <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-6">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<page size="A4">
   <div id="logo">
      <img src= "<%= yield(:logo) %>" alt="logo" style="width:8cm;height:8cm">
      <%= yield(:k_logo) %>
      <%if params[:action] == "edit" %>
        <%= link_to "ویرایش", {:controller => "single_texts", :action => "edit", :field => "logo" }%>
      <% end %>
   </div>
   <div id="kenar_logo">
      <%= yield(:k_logo) %>
      <%if params[:action] == "edit" %>
        <%= link_to "ویرایش", {:controller => "single_texts", :action => "edit", :field => "descrip" }%>
      <% end %>
   </div>
   <div id="sarmaghale">
   <div id="titr1_sar">
      <%= yield(:titr1) %>
      <%if params[:action] == "edit" %>
        <%= link_to "ویرایش", {:controller => "single_texts", :action => "edit", :index=>params[:id],:field => "titr1" }%>
      <% end %>
   </div>
    <br>
      <%= yield(:text1) %>
      <%if params[:action] == "edit" %>
        <%= link_to "ویرایش", {:controller => "single_texts", :action => "edit", :field => "text1" }%>
      <% end %>
   </div>
   <div id="titre2">
   <div id="titr2_sar">
      <%= yield(:titr2) %>
      <%if params[:action] == "edit" %>
        <%= link_to "ویرایش", {:controller => "single_texts", :action => "edit", :field => "titr2" }%>
      <% end %>
   </div>
      <br>
      <%= yield(:text2) %>
      <%if params[:action] == "edit" %>
        <%= link_to "ویرایش", {:controller => "single_texts", :action => "edit", :field => "text2" }%>
      <% end %>
   </div>
</page>
<page size="A4">
  <div id="titre3">
    <div id="sar_titr3">
      <%= yield(:titr3) %>
      <%if params[:action] == "edit" %>
        <%= link_to "ویرایش", {:controller => "single_texts", :action => "edit", :field => "titr3" }%>
      <% end %>
    </div>
      <br>
      <%= yield(:text3) %>
      <%if params[:action] == "edit" %>
        <%= link_to "ویرایش", {:controller => "single_texts", :action => "edit", :field => "text3" }%>
      <% end %>
  </div>

  <div id="titre4">
    <div id="sar_titr4">
      <%= yield(:titr4) %>
      <%if params[:action] == "edit" %>
        <%= link_to "ویرایش", {:controller => "single_texts", :action => "edit", :field => "titr4" }%>
      <% end %>
    </div>
      <br>
      <%= yield(:text4) %>
      <%if params[:action] == "edit" %>
        <%= link_to "ویرایش", {:controller => "single_texts", :action => "edit", :field => "text4" }%>
      <% end %>
  </div>

  <div id="shenasnameh">
    مدیر مسئول:
     <%= yield(:modir) %>
      <%if params[:action] == "edit" %>
        <%= link_to "ویرایش", {:controller => "single_texts", :action => "edit", :field => "modir" }%>
      <% end %>
;

سردبیر:

     <%= yield(:sardabir) %>
      <%if params[:action] == "edit" %>
        <%= link_to "ویرایش", {:controller => "single_texts", :action => "edit", :field => "sardabir" }%>
      <% end %>

  </div>

</page>

</body>
</html>
