<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-6">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="body">
<%= render 'layouts/header' %>
<div id="nav" font-size="large">
<p>
<a href="auth/welcome"><%= yield(:menu1) %></a>
<p>
<a href="auth/welcome"><%= yield(:menu2) %></a>
</div>

<div id="section">
<%= yield(:centertext) %>
</div>

<div id="footer">
این سایت محصول نهایی کلاس محاسبات ابری دانشکده علوم و فنون نوین دانشگاه تهران می باشد و هرگونه استفاده از آن با صلواتی بر محمد و آل محمد مجاز است.
</div>
</div>
</body>
</html>
